* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0c192c;

}

.bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* z-index: -1; */
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    color: #fff;
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h1 {
    margin-bottom: 20px;
}

.form-container form {
    width: 100%;
    max-width: 300px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: large;
    border-radius: 4px;
    cursor: pointer;
}

.form-container p {
    margin-top: 10px;
}

.hidden {
    display: none;
}

#user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#user-table th,
#user-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#user-table th {
    background-color: #007bff;
    color: #FFF;
}

#logout-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #c82333;
}

#refresh-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #3535dc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




#edit-form input[type="text"],
#edit-form input[type="email"],
#edit-form input[type="password"],
#edit-form input[type="tel"],
#edit-form button[type="submit"] {
    /* display: block;
    margin-bottom: 10px;
    width: 100%; */


    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#edit-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#edit-form button[type="submit"]:hover {
    background-color: #45a049;
}


body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hidden {
    display: none;
}

.form-container {
    margin-bottom: 20px;
}

.dashboard {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: transparent;
}

tr:hover {
    background-color: transparent;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#edit-form input[type="text"],
#edit-form input[type="email"],
#edit-form input[type="password"],
#edit-form button[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#edit-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#edit-form button[type="submit"]:hover {
    background-color: #45a049;
}


.link{
    color: blueviolet;
    text-decoration: underline;
}
